{% extends 'base.html' %}

{% block header %}

{% endblock %}

{% block title %}
Make a poast for {{user.full_name}}!
{% endblock %}

{% block body%}
<form action="/users/{{user.id}}/posts" method="POST">
   <label for="title">Title</label> <input required name='title' placeholder="Cool title" type="text">
   <label for="content">Content</label> <input name='content' placeholder="Cool story" type="text">
   {% for tag in tags %}

   <input type="checkbox" name="tags" value="{{ tag.id }}"> {{ tag.name }} <br>

   {% endfor %}

   <button type="submit">Add</button>
   <a href="/users/{{user.id}}">Cancel</a>
</form>
{% endblock%}